.sideMenu
  .sideMenu__userName
    Taro
    .sideMenu__userName--fonts
      = fa_icon("edit")
      = fa_icon("cog")
  = render partial: "group"
.chatMain
  .chatMain__head
    .chatMain__head__group
      sample_group
      .chatMain__head__group--menber
        Taro Ziro Tom
    .chatMain__head__edit
      Edit
  .chatMain__body
    = render partial: "message"
  .chatMain__foot
    .chatMain__foot__body
      Write Message
      .chatMain__foot__body--icon
        = fa_icon("image")
    .chatMain__foot--send
      send
