.sideMenu
  .sideMenu__userName
    = current_user.name
    .sideMenu__userName--fonts
      = link_to new_group_path do
        = fa_icon("edit")
      = link_to edit_user_registration_path do
        = fa_icon("cog")
  = render partial: "shared/group"
.chatMain
  .chatMain__header
    .chatMain__header__group
      = @group.name
      .chatMain__header__group--menber
        = @group.users.name
    .chatMain__header__edit
      = link_to edit_group_path(params[:group_id]) do
        Edit
  .chatMain__body
    = render @messages
  .chatMain__footer
    = form_for [@group,@message] do |f|
      = f.text_field :body ,class: 'chatMain__footer__body', placeholder: 'type a message'
      = f.label :image  do
        = fa_icon "image",class: 'chatMain__footer__body--icon'
        = f.file_field :image,class: 'chatMain__footer__body--hidden'
      = f.submit 'Send', class: 'chatMain__footer--send'
